body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin: 0 0 20px;
}

.pink {
    color: red;
}

.flashes {
    color: red;
    font-size: 20px;
    list-style-type: none;
}

.typing {
    color: pink;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid red;
    display: inline-block;
    width: 100%;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: red; }
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

.login-btn {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.signup-btn {
    background-color: transparent;
    color: red;
    padding: 10px;
    border: 2px solid red;
    border-radius: 4px;
    cursor: pointer;
}

.continue-with {
    margin-top: 20px;
}

.continue-with p {
    margin: 0 0 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.social-icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
