<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" href="/static/css/forget-password.css">
    <link rel="icon" href="pic/logo.png" type="image/png">
</head>
<body>
    <div class="login-container">
        <h1>Forget <span class="pink">Password</span></h1>
        <p class="typing">Enter your email to reset your password.</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flashes">
            {% for category, message in messages %}
              <strong><li class="{{ category }}">{{ message }}</li></strong>
            {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
        <form id="forget-password-form" method="POST">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your Email" required>
            <button type="submit" class="login-btn">Send</button>
        </form>
    </div>
    <!-- <script src="/static/js/forget-password.js"></script> -->
</body>
</html>
