<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Pink</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="login-container">
        <h1>Login To <span class="pink">Pink</span></h1>
        <p>Welcome back! Please log in to access your account.</p>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flashes">
            {% for category, message in messages %}
              <strong><li class="{{ category }}">{{ message }}</li></strong>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

        <form method="POST" action="{{ url_for('login') }}">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your Email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your Password" required>

            <div class="remember-forgot">
                <label>
                    <input type="checkbox" name="remember"> Remember Me
                </label>
                <a href="{{ url_for('forget_password') }}">Forgot Password?</a>
            </div>

            <button type="submit" class="login-btn">Login</button>
            <button type="button" class="signup-btn" onclick="location.href='{{ url_for('signup') }}'">Sign Up</button>
        </form>
        <div class="continue-with">
            <p>Or Continue with</p>
            <div class="social-icons">
                <div class="icon-container">
                    <img src="pic/google.png" alt="Google">
                </div>
                <div class="icon-container">
                    <img src="pic/facebook.png" alt="Facebook">
                </div>
                <div class="icon-container">
                    <img src="pic/apple.png" alt="Apple">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
