<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up to Pink</title>
    <link rel="stylesheet" href="/static/css/signup.css">
    <link rel="icon" href="pic/logo.png" type="image/png">
</head>
<body>
    <div class="signup-container">
        <h1>Sign Up To <span class="pink">Pink Light AI</span></h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <span><li class="{{ category }}">{{ message }}</li></span>
                    {% endfor %}
                </ul>
            {% endif %}
         {% endwith %}
         
        <form method="POST" action="{{ url_for('signup') }}">
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" name="first_name" placeholder="Enter your First Name" required>

            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" name="last_name" placeholder="Enter your Last Name" required>

            <label for="birth-date">Birth Date</label>
            <input type="text" id="birth-date" name="birth_date" placeholder="MM-DD-YYYY" required>

            <label for="country-code">Country Code</label>
            <input type="text" id="country-search" placeholder="Search Country Code">
            <select id="country-code" name="country_code">
                <!-- Country options will be dynamically generated -->
            </select>

            <label for="phone-number">Phone Number</label>
            <input type="text" id="phone-number" name="phone_number" placeholder="Enter your Phone Number" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter your Email" required>

            <label for="gender">Gender</label>
            <select id="gender" name="gender" required>
                <option value="" disabled selected>Select your gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <label for="confirm-password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your Password" required>
            
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" name="confirm_password" placeholder="Re-enter your Password" required>

            <button type="submit" class="signup-btn">Sign Up</button>
        </form>
    </div>
    <script src="/static/js/signup.js"></script>
</body>
</html>
